#home {
    padding-top: 10vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    #title-section {
        text-align: center;
    }

    #cv {
        border: 1px solid grey;
        border-radius: 5px;
        width: 60%;
        margin-left: 20%;
        min-height: 90vh;
        background-color: white;
        margin-bottom: 5vh;
        box-shadow: 5px 5px grey;
    }

    #download-button {
        margin-left: 20%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 899px) {
    #home {
        #cv {
            width: 70%;
            margin-left: 15%;
        }
    }
}

@media only screen and (max-width: 599px) {
    #home {
        #cv {
            width: 90%;
            margin-left: 5%;
        }
    }
}
