<div id="home">
    <div id="title-section">
        <h1>Cv Builder Website</h1>
    </div>
    <div id="central-section">
        <div id="cv">
            <app-personal-details></app-personal-details>
            <app-education class="cv-section" id="education-section" draggable="true">Education goes here</app-education>
            <app-experiences class="cv-section" id="experience-section" draggable="true">Experience goes here</app-experiences>
            <app-skills class="cv-section" id="skills-section" draggable="true">Skills goes here</app-skills>
            <app-extra class="cv-section" id="extra-section" draggable="true">Extra goes here</app-extra>
        </div>
        <button id="download-button" (click)="download()">Download CV</button>
    </div>
    <app-preview></app-preview>
</div>