#home {
    padding-top: 10vh;

    #title-section {
        text-align: center;
    }

    #cv {
        border: 1px solid grey;
        height: 90vh;
        background-color: white;
        width: 60%;
        margin-left: 20%;
        margin-bottom: 5vh;
    }
}