<div id="home">
    <div id="title-section">
        <h1>Cv Builder Website</h1>
    </div>
    <div id="central-section">
        <app-side-bar></app-side-bar>
        <div id="cv">
            <div class="cv-section" id="education-section" draggable="true">Education goes here</div>
            <div class="cv-section" id="experience-section" draggable="true">Experience goes here</div>
            <div class="cv-section" id="skills-section" draggable="true">Skills goes here</div>
            <div class="cv-section" id="extra-section" draggable="true">Extra goes here</div>
        </div>
    </div>
</div>