@use '../../../styles.scss' as style;

#header {
    background-color: style.$gabri-theme;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    font-size: 24px;
    color: white;
    #my-name {
        padding: 2%;
        padding-left: 10%;
    }
    #nav-section {
        text-align: right;
        padding: 2%;
        padding-right: 10%;
    }
}

a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
}

a:hover {
    text-decoration: underline;
}