#color-picker {
    background-color: lightgrey;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 50px;
    text-align: center;

    .color {
        margin: 5px;
        border-radius: 100px;
        width: 20px;
        height: 20px;
        border: none;
    }
    #red {
        background-color: red;
    }
    #green {
        background-color: green;
    }
    #blue {
        background-color: blue;
    }
    #black {
        background-color: black;
    }
    #orange {
        background-color: orange;
    }
    #yellow {
        background-color: yellow;
    }
    #purple {
        background-color: purple;
    }

}