<div id="color-picker">
    <button class="color" id="black" (click)="sendChosenColor('black')"></button>
    <button class="color" id="red" (click)="sendChosenColor('red')"></button>
    <button class="color" id="orange" (click)="sendChosenColor('orange')"></button>
    <button class="color" id="yellow" (click)="sendChosenColor('yellow')"></button>
    <button class="color" id="green" (click)="sendChosenColor('green')"></button>
    <button class="color" id="blue" (click)="sendChosenColor('blue')"></button>
    <button class="color" id="purple" (click)="sendChosenColor('purple')"></button>
</div>