<div id="personal-details">
    <h2>
        <app-input-bar [label]="''" [placeholder]="'John Smith'" (dataEvent)="sendData($event, 'name')"></app-input-bar>
    </h2>
    <app-input-bar [label]="''" [placeholder]="'johnsmith@email.com'" (dataEvent)="sendData($event, 'email')"></app-input-bar>
    <app-input-bar [label]="''" [placeholder]="'Address of John Smith'" (dataEvent)="sendData($event, 'address')"></app-input-bar>
    <app-input-bar [label]="''" [placeholder]="'Linkedin of John Smith'" (dataEvent)="sendData($event, 'linkedin')"></app-input-bar>
    <app-input-bar [label]="''" [placeholder]="'Github of John Smith'" (dataEvent)="sendData($event, 'github')"></app-input-bar>
</div>