<div id="education-section">
    <h2>Education</h2>
    <div id="education-extra" *ngFor="let title of titles">
        <br />
        <app-input-bar [label]="'Institute'" [placeholder]="'University of Boston'" (dataEvent)="sendData($event, title, 'institute')"></app-input-bar>
        <app-input-bar [label]="'Degree'" [placeholder]="'Master Degree in Civil Engineering'" (dataEvent)="sendData($event, title, 'degree')"></app-input-bar>
    </div>
    <button id="add-education" title="Add new degrees" (click)="addEducation()">+</button>
    <button id="remove-education" title="Remove latest degree" (click)="removeEducation()" *ngIf="titles.length >= 1">x</button>
</div>