#preview {
    margin-top: -5vh;
    border: 1px solid grey;
    border-radius: 5px;
    width: 58%;
    margin-left: 20%;
    min-height: 85vh;
    background-color: white;
    margin-bottom: 5vh;
    box-shadow: 5px 5px grey;
    padding: 1%;

    #personal-section {
        text-align: center;
    }

    hr {
        width: 70%;
        margin-left: 15%;
    }
    #education-section {
        background-color: green;
    }
    #skills-section {
        background-color: orange;
    }
    #experience-section {
        background-color: yellow;
    }
}
#download-button {
    margin-left: 20%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 899px) {
    #preview {
        width: 68%;
        margin-left: 15%;
    }
}

@media only screen and (max-width: 599px) {
    #preview {
        width: 88%;
        margin-left: 5%;
    }
}