<div id="preview">
    <div id="personal-section">
        {{this.userCv.personalDetails.name}}
        <br />
        {{this.userCv.personalDetails.email}}
        <br />
        {{this.userCv.personalDetails.address}}
        <br />
        {{this.userCv.personalDetails.linkedin}}
        <br />
        {{this.userCv.personalDetails.github}}
    </div>
    <hr>
    <div id="education-section">
        <h3>Education</h3>
        <table>
            <tr>
                <th>Institute</th>
                <th>Degree</th>
            </tr>
            <tr *ngFor=" let i of educationListSize;">
                <td>{{this.userCv.educationDetails.listOfInstitutes[i]}}</td>
                <td>{{this.userCv.educationDetails.listOfDegrees[i]}}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="experience-section">
        <h3>Working Experiences</h3>
        <table>
        <tr>
            <th>Company</th>
            <th>Description</th>
            <th>Period</th>
          </tr>
        <tr *ngFor="
            let i of experienceListSize;">
            <td>{{this.userCv.experienceDetails.listOfJobs[i]}}</td>
            <td>{{this.userCv.experienceDetails.listOfJobDescriptions[i]}}</td>
            <td>{{this.userCv.experienceDetails.listOfJobPeriods[i]}}</td> 
        </tr>
        </table>
    </div>
    <hr>
    <div id="skills-section">
        <h3>Skills</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
            <tr *ngFor=" let i of skillListSize;">
                <td>{{this.userCv.skillDetails.listOfSkillNames[i]}}</td>
                <td>{{this.userCv.skillDetails.listOfSkillLevels[i]}}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="extra-section">
        <h3>Extras</h3>
        <table>
            <tr *ngFor=" let extra of this.userCv.listOfExtras;">
                <td>{{extra}}</td>
            </tr>
        </table>
        {{this.userCv.listOfExtras}}
    </div>
</div>
<button id="download-button" (click)="download()">Download CV</button>
<button id="back-button" (click)="back($event)">Back</button>
