<div id="preview">
    <div id="personal-section">
        <b>{{this.userCv.personalDetails.name}}</b>
        <br />
        {{this.userCv.personalDetails.email}}
        <br />
        {{this.userCv.personalDetails.address}}
        <br />
        {{this.userCv.personalDetails.linkedin}}
        <br />
        {{this.userCv.personalDetails.github}}
    </div>
    <hr>
    <div id="education-section">
        <h3>Education</h3>
        <table>
            <tr *ngFor=" let i of educationListSize;">
                <td><b>{{this.userCv.educationDetails.listOfInstitutes[i]}}</b></td>
                <td>{{this.userCv.educationDetails.listOfDegrees[i]}}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="experience-section">
        <h3>Working Experiences</h3>
        <table>
        <tr *ngFor="
            let i of experienceListSize;">
            <td>
                <b>{{this.userCv.experienceDetails.listOfJobs[i]}}</b>
                <br />
                {{this.userCv.experienceDetails.listOfJobPeriods[i]}}
            </td>
            <td>{{this.userCv.experienceDetails.listOfJobDescriptions[i]}}</td> 
        </tr>
        </table>
    </div>
    <hr>
    <div id="skills-section">
        <h3>Skills</h3>
        <table>
            <tr *ngFor=" let i of skillListSize;">
                <td><b>{{this.userCv.skillDetails.listOfSkillNames[i]}}</b></td>
                <td>{{this.userCv.skillDetails.listOfSkillLevels[i]}}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="extra-section">
        <h3>Extras</h3>
        <table>
            <tr *ngFor=" let extra of this.userCv.listOfExtras;">
                <td>{{extra}}</td>
            </tr>
        </table>
    </div>
</div>
<button id="download-button" (click)="download()">Download CV</button>
<button id="back-button" (click)="back($event)">Back</button>
