<div id="sidebar">
    <app-option-card [option]="'Education'" [route]="'education'"></app-option-card>
    <app-option-card [option]="'Experience'" [route]="'experiences'"></app-option-card>
    <app-option-card [option]="'Skills'" [route]="'skills'"></app-option-card>
    <app-option-card [option]="'Extra'" [route]="'extra'"></app-option-card>
    <app-option-card [option]="'option5'" [route]="''"></app-option-card>
    <app-option-card [option]="'option6'" [route]="''"></app-option-card>
</div>